{
    "Checks":
        [
            "bugprone-*",
            "clang-diagnostic-*",
            "clang-analyzer-*",
            "google-*",
            "misc-*",
            "performance-*",
            "portability-*",
            "readability-*",
            "-readability-identifier-length",
            "-readability-magic-numbers"
        ],
    "HeaderFileExtensions": ["h"],
    "HeaderFilterRegex": ".*",
    "ImplementationFileExtensions": ["c"],
    "UseColor": false,
    "WarningsAsErrors": "*"
}
