{
    "Checks":
        [
            "bugprone-*",
            "clang-diagnostic-*",
            "clang-analyzer-*",
            "google-*",
            "misc-*",
            "performance-*",
            "portability-*",
            "readability-*",
            "-readability-identifier-length",
            "-readability-magic-numbers"
        ],
    "ExtraArgs":
        [
            "-std=gnu99",
            "-pedantic",
            "-Wall",
            "-Wextra",
            "-Werror",
            "-DVRR_INCLUDE_GUARD"
        ],
    "UseColor": false,
    "WarningsAsErrors": "*"
}
